<div class="container">
    <div class="jumbotron">
        <center>     
            <hl> Benvenuti a Babbo Giovanni!</hl>
            <img src="http://i0.wp.com/www.avoiceformen.com/wp-content/uploads/sites/2/2014/01/Nazarian1.jpg?resize=750%2C420">
            <%=link_to "Check out our pizzas!", pizzas_path, class: "btn btn default"%>
        </center>
</div>

    